<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>About</h1>
  </div>

  <p>I like creating Web sites and work full-time as an independent Web designer and developer.</p>

  
</body>

</html>